<div class="col-xs-offset-4">
<h1 class="welcome">welcome to <p class="glyphicon glyphicon-book">Bookers !!</p></h1>

<h4>In  <p class="glyphicon glyphicon-book">Bookers</p></h4>

<br>

<p>you can share and exchange your opinions , inpressions , and emotions<br>
about various books!</p>

<%= link_to"Login",new_user_session_path, class: "btn btn-default btn btn-success col-xs-4"  %><br>
<br>
<%= link_to"SignUp", new_user_registration_path, class: "btn btn-default  btn btn-info col-xs-4"  %>
</div>
